body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px;
  padding-top: 20px; 
}

.main_head:before {
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  top:0;
  left:0;
  z-index: 1;
}

.logo_header {
  float: left; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader_inner {
  background-image: url("D:/landing/img/load.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 100;
  border: none;
  top: 20px;
  right: 20px;
  position: fixed; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 34px;
  height: 3px;
  position: absolute;
  top: -22px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 9px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 18px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 10px;
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 11;
  top: 0;
  right: 0;
  display: none; }
  .top_mnu ul, .top_mnu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .top_mnu li:nth-child(1) a {
    animation-delay: .3s; }
  .top_mnu li:nth-child(2) a {
    animation-delay: .5s; }
  .top_mnu li:nth-child(3) a {
    animation-delay: .7s; }
  .top_mnu li:nth-child(4) a {
    animation-delay: .9s; }
  .top_mnu ul {
    margin-top: 120px;
    text-align: center; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      -webkit-transition: ease-out 0.3s;
      -moz-transition: ease-out 0.3s;
      -o-transition: ease-out 0.3s;
      transition: ease-out 0.3s; }

.top_text p {
  color:#dadce2;
}

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .top_wrapper .top_descr .top_centered .top_text {
        display: inline-block;
        opacity: 1; }
        .top_wrapper .top_descr .top_centered .top_text p {
          margin: 0;
          text-transform: uppercase;
          font-weight: bold;
          animation-delay: 2s; }
        .top_wrapper .top_descr .top_centered .top_text h1 {
          display: inline-block;
          padding: 10px 35px;
          color: #fff;
          border: 8px solid #fff;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 2.8em;
          background-color: rgba(0, 0, 0, 0.1);
          margin-left: 20px;
          margin-right: 20px;
          animation-delay: 1s; }

section {
  padding: 70px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 25px; }
  section .s_desc_wrap {
    text-align: center; }
    section .s_desc_wrap .s_descr {
      text-transform: uppercase;
      display: inline-block;
      font-size: 12px;
      position: relative;
      margin-bottom: 90px; }
      section .s_desc_wrap .s_descr::after {
        content: "";
        width: 150px;
        height: 1px;
        position: absolute;
        margin-left: -75px;
        margin-top: 30px; }

.person {
  text-align: center;
  margin-bottom: 30px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

section h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 30px; }
section .personal_header {
  text-align: left;
  font-size: 13px;
  margin-bottom: 30px;
  color: #555;
  margin-bottom: 30px; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul, .s_about li {
  margin: 0;
  padding: 0;
  list-style: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {
  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px; }

.resume_container .left {
  text-align: right;
  border-right: #999 1px solid; }
  .resume_container .left h3 {
    text-align: right; }

.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }

.resume_item {
  margin-top: 30px; }
  .resume_item .year {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 15px;
    margin-bottom: 20px; }
  .resume_item p {
    margin-top: -10px; }

.s_portfolio ul {
  text-align: center;
  padding: 0;
  margin-bottom: 50px; }
  .s_portfolio ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    line-height: 2; }

.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    width: 100%;
    height:100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 30px;
    opacity: 0;
    transition: all 1s; }
    .portfolio_item .port_item_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    .portfolio_item .port_item_cont a {
      display: inline-block;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 2px 10px; }

  .portfolio_item-img {
     height: 250px;
     width: 293px;
  }

.portfolio_item:hover .port_item_cont {
  opacity: 1; }

.podrt_descr {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  max-width: 500px; }
  .podrt_descr p, .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px; }
  .podrt_descr p {
    margin-top: 0; }
  .podrt_descr img {
    width: 100%;
    margin-top: 20px; }

.main_footer {
  padding: 50px;
  font-size: 13px;
  font-weight: bold; }
  .main_footer .social_wrap {
    float: right; }
    .main_footer .social_wrap ul {
      margin: 0; }

.contact_box {
  margin-bottom: 30px; }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    font-size: 14px; }
  .contact_box .contacts_icon {
    font-size: 40px; }

form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.form-group {
  display: block;
  margin-bottom: 10px; }
  .form-group input, .form-group textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px; }

/*# sourceMappingURL=main.css.map */
