/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.portfolio_item-img {
		width: 100%;
		height: 200px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.personal_last_block {
		margin-top: 35px;
	}
	.resume_container .right{
		text-align: right;
	}
	.resume_container .right h3{
		text-align: center;
	}
	.resume_icon{
		text-align: center;
	}
	.resume_container .left{
		text-align: left;
	}
	.resume_container .left h3{
		text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
		margin-bottom: 10px;
	}
	.resume_container .left h3 {
		margin-top: 0;
	}

	.resume_container .right{
		text-align: center;
	}
	.resume_container .right h3{
		text-align: center;
	}
	.resume_container .right .resume_icon{
		text-align: center;

	}
	.resume_container .left{
		text-align: center;

	}
	.resume_container .left h3{
		text-align: center;
	}
	.resume_container .left .resume_icon{
		text-align: center;
	}

	#portfolio_grid {
	  overflow: hidden;
	  width: 500px;
	  margin: 0 auto;
	}

	.portfolio_item-img {
		width: 100%;
		height: 300px;
	}

	.s_contacts {
		text-align: center;
	}

	.s_contacts .contacts_icon  {
		display: inline-block;
	}

	.contact_box h3 {
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
		padding-left: 10px;
		padding-right: 10px;
	}
	.main_footer {
		text-align: left;
	}
	.main_footer .social_wrap {
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul {
		padding-left: 0;
	}

	#portfolio_grid {
		width: 100%;
		padding: 0 15px;
	}

	.portfolio_item-img {
		width: 100%;
		height: 200px;
	}

	.top_wrapper .top_descr .top_centered .top_text h1 {
		padding: 10px 25px;
		font-size: 2.3em;
	}

	.main_footer {
		text-align: center;
	}

	.main_footer .social_wrap {
		display: inline-block;
		float:none;
	}
}
